{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Reset | LMS Analytics' %}{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div id="login" class="p-4 shadow-sm bg-white rounded" style="width: 100%; max-width: 500px;">
    <h3 class="login-title text-center mb-4">{% trans 'Password Reset' %}</h3>

    <form action="" method="POST" class="form-box">{% csrf_token %}
      <div class="container px-0">
        <div class="form-group mb-3">
          <label class="form-label">
            <i class="fas fa-envelope me-2"></i>{% trans 'Email' %}
          </label>
          {{ form.email }}
          <span class="text-danger small">{{ form.email.errors }}</span>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">
        <small>{% trans 'Request Password Reset' %}</small>
      </button>
    </form>
  </div>
</div>
{% endblock content %}
